<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>End to End Traceability > Ingestion</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <main class="main">
            <header class="main-header">
                <div class="main-header-breadcrumb">

                </div>
                <div class="main-header-toolbar">

                </div>
            </header>

            <nav class="main-nav">
                <!-- Left Navigation-->
            </nav>

            <hgroup class="page-title">
                <h1>Ingestion</h1>
            </hgroup>

            <aside class="page-filter">
                <div class="card">
                    <div class="card-header">
                        <h2>
                            Filters
                        </h2>
                        <div class="card-header-actions">
                            <button class="button button-text">Reset</button>
                            <button class="button button-text">Minimize</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>            
                            <input type="text">
                            <select>
                                <option>All Entity Groups</option>
                            </select>
                            <select>
                                <option>All Entities</option>
                            </select>
                            <select>
                                <option>All Statuses</option>
                            </select>
                            <div>
                                <h3>Time Range</h3>
                                <div class="radio-group">
                                    <input type="radio">
                                    <label>
                                        From
                                        <input type="date">
                                    </label>
                                    <label>To
                                        <input type="date">
                                    </label>
                                </div>
                                <div class="radio-group">
                                    <input type="radio">
                                    <label>From
                                        <input type="date">
                                    </label>
                                    <label>To
                                        <input type="date">
                                    </label>
                                </div>                                        
                            </div>
                            <button class="button button-primary">Apply</button>
                        </form>
                    </div>
                </div>
            </aside>

            <section class="page-content">
                <!-- Toolbar Dates-->
                <div class="card date-filter">
                    <div class="card-body card-body-horizontal">
                        <div class="page-toolbar-dates-center">
                            <button class="button button-secondary">Previous Day</button>
                            1/3/2026 7:51am
                            <button class="button button-secondary">Next Day</button>
                        </div>
                        <div class="page-toolbar-dates-right">
                            <button class="button button-secondary">Reset</button>
                        </div>
                    </div>
                </div>

                <div class="page-summary">
                    <div class="card">
                        <div class="card-body">
                            <h3>Total Payloads</h3>                            
                            <p>40K</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3>Success</h3>
                            <p>90%</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3>Fail</h3>
                            <p>8%</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3>Other</h3>
                            <p>2%</p>
                        </div>
                    </div> 

                    <div class="card">
                        <div class="card-body">
                            <h3>Ingested</h3>
                            <p>40K</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3>Validated</h3>
                            <p>98.25%</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3>Staged</h3>
                            <p>98.1%</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3>Curated</h3>
                            <p>97.9%</p>
                        </div>
                    </div>                                                         
                </div>

                <div class="card">                    
                    <div class="card-header">
                        <h2>Trends</h2>                                    
                    </div>
                    <div class="card-body">
                        <img src="/static/img/chart.svg" alt="">

                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2>Payloads</h2>
                    </div>
                    <div class="card-toolbar">
                        <label><input type="radio"> CST(UTC-06:00)</label>
                        <label><input type="radio"> UTC</label>
                        <button>Download</button>
                    </div>
                    <div class="card-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Record</th>
                                    <th>Ingestion ID</th>
                                    <th>File</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                    <th>Errors</th>
                                    <th>Ingestion Time</th>
                                    <th>Elapsed Tiem</th>
                                    <th>In Svc</th>
                                    <th>Out Svc</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for payload in payloads %}

                                <tr>
                                    <td>{{ payload.id }}</td>
                                    <td>{{ payload.record }}</td>
                                    <td>{{ payload.ingestion_id }}</td>
                                    <td>{{ payload.file }}</td>
                                    <td>{{ payload.status }}</td>
                                    <td>{{ payload.total }}</td>
                                    <td>{{ payload.errors }}</td>
                                    <td>{{ payload.ingestion_time }}</td>
                                    <td>{{ payload.elapsed_time }}</td>
                                    <td>{{ payload.in_svc }}</td>
                                    <td>{{ payload.out_svc }}</td>
                                </tr>

                                {% endfor %}

                            </tbody>
                        </table>

                    </div>
                    <div class="card-footer">
                        <div class="pagination-page-count">1-20 of 103</div>
                        <div class="pagination-pages"></div>
                    </div>
                </div>

            </div>
            
                
        </main>
    </body>
</html>